@font-face {
     src: url("../fonts/NewsCycle-Regular.ttf");
}
@font-face {
     src: url("../fonts/NewsCycle-Bold.ttf");
}
.root{
    /*-fx-background-image:url("../images/lightgraybg.png");*/
    -fx-background-image:url("../images/gray-haze-background.jpg");
    -fx-background-size: cover;    
}
.next-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 15 28 15 28;
}
.next-button:pressed {
    -fx-background-color: 
        linear-gradient(#20262b, #191d22),        
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        #090a0c,
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
	-fx-padding: 15 28 15 28;
}
.next-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.list-button{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;	
    -fx-padding: 5 10 5 10;
}
.list-button Text{
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.list-button:pressed{
    -fx-background-color: 
        linear-gradient(#20262b, #191d22),        
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        #090a0c,
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
	-fx-padding: 5 10 5 10;
}
#screenHeader{
	-fx-font-size: 25px;
	-fx-font-family: "News Cycle";
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );	
}
.welcomeText{
	-fx-font-size: 22px;
	-fx-font-family: "News Cycle";
	-fx-fill: #FFFFFF;
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );	
}
#warningText{
	-fx-fill: DARKRED;
	-fx-font-family: "News Cycle";
}
